/* We do not use SASS features here to make it easier to include this file without pre-compilation in _dev/test-syntax-highlight.html */

.lang-zig .hljs-keyword { font-weight: bold; }
.lang-zig .hljs-literal { color: #ff8080; }
.lang-zig .hljs-comment { color: #aa7; }
.lang-zig .hljs-built_in { color: #ff894c; }
.lang-zig .hljs-type { color: #68f; }
.lang-zig .hljs-function { color: #b1a0f8; }
.lang-zig .hljs-numbers { color: #ff8080; }
.lang-zig .hljs-string { color: #2e5; }
